NEXT_PUBLIC_FATHOM_SITE_ID=
NEXT_PUBLIC_FATHOM_URL=

DATABASE_URL=

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET= # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32

VATSIM_ID=
VATSIM_SECRET=
VATSIM_ISSUER=https://auth.vatsim.net
VATSIM_SCOPES="full_name email vatsim_details"
